Repository fga-eps-mds/GFour-Invext, pull requests merged in 2022-09, with the labels that each got.

#118 114 Back_Patrimonio
  Back/src/util/AtivosB3Util.js
Labels: Back-end

#129 128 - Editar Ativo
  Back/src/controller/AtivoController.js
  Front/src/App.tsx
  Front/src/components/PageNotFound/PageNotFound.tsx
  Front/src/components/PopoverEditarAtivo/editarAtivo.css
  Front/src/components/PopoverEditarAtivo/editarAtivo.tsx
  Front/src/pages/Cadastro de Ações/Açoes.tsx
  Front/src/pages/LoginUsuario/Login.tsx
  Front/src/pages/Patrimonio/Patrimonio.tsx
  Front/src/pages/Sidebar/Sidebar.css
  Front/src/pages/Sidebar/Sidebar.tsx
  Front/src/pages/Sidebar/SidebarData.tsx
  Front/src/services/publicRoute.tsx
  Front/src/services/requireAuth.tsx
Labels: Front-end

#130 fix: Calculo da porcentagem no patrimonio
  Back/src/util/AtivosB3Util.js
Labels: Back-end

#132 122 front finaliza rentabilidade
  Front/package.json
  Front/src/pages/Patrimonio/Patrimonio.tsx
  Front/src/pages/Rentabilidade/rentabilidade.css
  Front/src/pages/Rentabilidade/rentabilidade.tsx
Labels: Front-end

#133 Release 2
  .github/pull_request_template.md
  .gitignore
  Back/jest.config.js
  Back/package.json
  Back/src/__tests__/sum.test.js
  Back/src/app.js
  Back/src/controller/AtivoController.js
  Back/src/controller/UserController.js
  Back/src/middleware/auth.js
  Back/src/models/Ativo.js
  Back/src/models/AtivosB3.js
  Back/src/models/User.js
  Back/src/models/db.js
  Back/src/server.js
  Back/src/util/AtivosB3Util.js
  Back/src/util/IndicesUtil.js
  CONTRIBUTING.md
  Front/package.json
  Front/src/App.css
  Front/src/App.tsx
  Front/src/components/BuscaAtivos/Busca.css
  Front/src/components/BuscaAtivos/Busca.tsx
  Front/src/components/PageNotFound/PageNotFound.tsx
  Front/src/components/PopoverEditarAtivo/editarAtivo.css
  Front/src/components/PopoverEditarAtivo/editarAtivo.tsx
  Front/src/main.tsx
  Front/src/pages/Cadastro de Ações/Açoes.tsx
  Front/src/pages/Cadastro de Ações/Ações.css
  Front/src/pages/CadastroUsuario/Cadastro.css
  Front/src/pages/CadastroUsuario/Cadastro.tsx
  Front/src/pages/HistoricoDeAcoes/excluirAtivo.tsx
  Front/src/pages/HistoricoDeAcoes/historico.css
  Front/src/pages/HistoricoDeAcoes/historico.tsx
  Front/src/pages/LoginUsuario/Login.tsx
  Front/src/pages/Patrimonio/Patrimonio.css
  Front/src/pages/Patrimonio/Patrimonio.tsx
  Front/src/pages/Rentabilidade/rentabilidade.css
  Front/src/pages/Rentabilidade/rentabilidade.tsx
  Front/src/pages/Sidebar/Sidebar.css
  Front/src/pages/Sidebar/Sidebar.tsx
  Front/src/pages/Sidebar/SidebarData.tsx
  Front/src/services/Provider.tsx
  Front/src/services/authToken.tsx
  Front/src/services/publicRoute.tsx
  Front/src/services/requireAuth.tsx
  Front/tsconfig.json
  Front/vite.config.ts
  package-lock.json
Labels: All the team
