Repository fga-eps-mds/GFour-Invext, pull requests merged in 2022-08, with the labels that each got.

#43 Configuração das rotas e links da página de cadastro e login
  Invext/package-lock.json
  Invext/package.json
  Invext/src/App.tsx
  Invext/src/main.tsx
  Invext/src/pages/CadastroUsuario/Cadastro.css
  Invext/src/pages/CadastroUsuario/Cadastro.tsx
  Invext/src/pages/LoginUsuario/Login.tsx
Labels: Front-end

#49 Integracao front back
  .gitignore
  Back/package.json
  Back/src/app.js
  Back/src/controller/UserController.js
  Back/src/models/User.js
  Back/src/models/db.js
  Back/src/server.js
  Front/index.html
  Front/package.json
  Front/src/App.css
  Front/src/App.tsx
  Front/src/assets/background.jpeg
  Front/src/index.css
  Front/src/main.tsx
  Front/src/pages/CadastroUsuario/Cadastro.css
  Front/src/pages/CadastroUsuario/Cadastro.tsx
  Front/src/pages/LoginUsuario/Login.css
  Front/src/pages/LoginUsuario/Login.tsx
  Front/src/vite-env.d.ts
  Front/tsconfig.json
  Front/tsconfig.node.json
  Front/vite.config.ts
Labels: Front-end, Back-end

#51 Integracao front back
  .gitignore
  Back/package.json
  Back/src/app.js
  Back/src/controller/UserController.js
  Back/src/models/User.js
  Back/src/models/db.js
  Back/src/server.js
  Front/index.html
  Front/package.json
  Front/src/App.css
  Front/src/App.tsx
  Front/src/assets/background.jpeg
  Front/src/index.css
  Front/src/main.tsx
  Front/src/pages/CadastroUsuario/Cadastro.css
  Front/src/pages/CadastroUsuario/Cadastro.tsx
  Front/src/pages/LoginUsuario/Login.css
  Front/src/pages/LoginUsuario/Login.tsx
  Front/src/vite-env.d.ts
  Front/tsconfig.json
  Front/tsconfig.node.json
  Front/vite.config.ts
  Invext/.gitignore
  Invext/package-lock.json
Labels: Front-end, Back-end

#52 Inserção do diagrama de implementação no gitpages
  Diagrama de casos de uso.pdf
  docs/assets/diagrama_de_implementação.png
  docs/pages/DocumentoDeArquiteturaDeSoftware.md
  docs/pages/TAP.md
Labels: Documentation

#64 Autenticação de Usuário e Rotas
  Front/src/App.tsx
  Front/src/main.tsx
  Front/src/pages/LoginUsuario/Login.tsx
  Front/src/pages/Sidebar/Sidebar.css
  Front/src/pages/Sidebar/Sidebar.tsx
  Front/src/services/Provider.tsx
  Front/src/services/authToken.tsx
  Front/src/services/publicRoute.tsx
  Front/src/services/requireAuth.tsx
Labels: Front-end

#66 Front cadastro ações
  Front/src/App.tsx
  Front/src/pages/Cadastro de Ações/Açoes.tsx
  Front/src/pages/Cadastro de Ações/Ações.css
Labels: Front-end

#72 Validação e Integração Cadastro Ativos
  Back/src/controller/AtivoController.js
  Back/src/middleware/auth.js
  Front/src/App.tsx
  Front/src/pages/Cadastro de Ações/Açoes.tsx
  Front/src/pages/LoginUsuario/Login.tsx
Labels: Front-end

#88 Correções na Sidebar
  Front/package.json
  Front/src/App.tsx
  Front/src/components/AvisoSair/avisoSair.css
  Front/src/components/AvisoSair/avisoSair.tsx
  Front/src/pages/LoginUsuario/Login.tsx
  Front/src/pages/Sidebar/Sidebar.css
  Front/src/pages/Sidebar/Sidebar.tsx
  Front/src/pages/Sidebar/SidebarData.tsx
  Front/src/services/publicRoute.tsx
Labels: Bug, Front-end

#95 Integração compra/venda ativos
  Back/src/controller/AtivoController.js
  Back/src/controller/UserController.js
  Back/src/util/BuscaAtivosB3.js
  Front/src/main.tsx
  Front/src/pages/Cadastro de Ações/Açoes.tsx
  Front/src/pages/CadastroUsuario/Cadastro.tsx
  Front/src/pages/LoginUsuario/Login.tsx
Labels: Front-end, Back-end

#112 Finalização compra venda ativos
  Back/src/controller/AtivoController.js
  Front/src/pages/Cadastro de Ações/Açoes.tsx
  Front/src/pages/Cadastro de Ações/Busca.css
  Front/src/pages/Sidebar/Sidebar.css
  Front/src/pages/Sidebar/Sidebar.tsx
Labels: Front-end
